{% extends 'base.html.twig' %}

{% block title %}Hello AdController!{% endblock %}

{% block body %}
<div class="container pb-5">
    <div class="row">
        {% for ad in ads %}
         {% set url = path('ads_show',{'slug':ad.slug}) %}
                <div class="col-lg-4 col-sm-12">
                    <div class="card my-3" >
                        <div class="card-header text-center">
                            {{ad.title}}
                        </div>
                        <a href="{{url}}">
                            <img src="{{ad.coverImage}}" class="card-img-top" style="height:200px; width=100%; display=block">
                        </a>
                        <div class="card-body text-center">
                            <a href="{{url}}">
                                <h5 class="card-title">{{ad.rooms}} chambres - {{ad.price}} &euro;/nuit</h5>
                                <p class="card-text text-start">{{ad.introduction}}</p>
                            </a>    
                                <a href="{{url}}" class="btn btn-primary">En savoir plus</a>
                        </div>
                    </div>
                </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
